<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MyApplication">
        </activity>

        <activity-alias
            android:name=".MainActivityAlias0"
            android:enabled="true"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_0"
            android:roundIcon="@mipmap/ic_launcher_0_round"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityAlias25"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_25"
            android:roundIcon="@mipmap/ic_launcher_25_round"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityAlias50"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_50"
            android:roundIcon="@mipmap/ic_launcher_50_round"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityAlias75"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_75"
            android:roundIcon="@mipmap/ic_launcher_75_round"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityAlias100"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_100"
            android:roundIcon="@mipmap/ic_launcher_100_round"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <receiver
            android:name=".receiver.ReminderReceiver"
            android:exported="false" />

        <receiver
            android:name=".widget.TheTrackerWidgetProvider"
            android:label="TheTracker Small"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.example.widget.ACTION_TOGGLE_TRACKER" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_small" />
        </receiver>

        <receiver
            android:name=".widget.TheTrackerWidgetProviderMedium"
            android:label="TheTracker Medium"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_medium" />
        </receiver>

        <receiver
            android:name=".widget.TheTrackerWidgetProviderLarge"
            android:label="TheTracker Large"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_large" />
        </receiver>

        <service
            android:name=".widget.TrackingSyncService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="dataSync" />
    </application>

</manifest>
